*{margin:0 auto; padding:0px; list-style:none; text-decoration:none; outline:none; border-color:none; box-sizing:border-box;}

body{font-family:12px;}

.wrapper{width:100%; max-width:800px;}

.header{float:left; width:100%; background:url(../images/header_bkg.jpg) center no-repeat; background-size:100% 100%;}

.header_box{float:left; width:100%; padding:22px 19px; box-sizing:border-box;}

.logo, .logo a, .logo a img{float:left; width:auto;}



.menu{float:right; width:auto; margin:17px 0;}
.menu li{float:left; width:auto; margin-left:5px;}
.menu li a{float:left; width:auto; padding:5px; color:#959595; font-size:24px; border-radius:4px; text-transform:uppercase; margin-left:10px;}
.menu li:hover a,.menu li.active a{color:#fff; background:#000;}

.container{float:left; width:100%; background-size:100% 100%; margin-top:20px;}

.container_box{float:left; width:100%; box-sizing: border-box; background:url(../images/background.jpg) no-repeat;  padding:20px 20px;}

.text1{float:left; font-size:16px; color:#000;}

.img1{float:left; width:33.33%;}

.img1 a{float:left; width:auto; height:auto; padding:10px 0px;}

.img2{float:left; width:33.33%; padding:20px; 0px;}

.img2 h3{float:left; font-size:16px; color:#000; }

.img2 h6{float:left; font-size:12px; color:#FFF; line-height:20px;}

.img3{float:left; width:33.33%}

.img3 a{float:left; width:auto; height:auto; padding:5px; 0px;}

.text_info{float:left; width:100%;}

.t1{float:left; width:33.33%; font-size:24px; color:#000;}

.t1 p{float:left; font-size:12px; color:#000; margin-top:10px; margin-right:30px;}

.t2{float:left; width:33.33%; font-size:24px; color:#000;}

.t2 p{float:left; font-size:12px; color:#000; margin-top:10px; margin-right:30px;}

.t3{float:left; width:33.33%; font-size:24px; color:#000;}

.t3 p{float:left; font-size:12px; color:#000; margin-top:10px; margin-right:30px;}

.footer{float:left; width:100%;  background-image:url(../images/footer.png);}

.footer_box{float:left; width:100%; box-sizing: border-box;}

.f1{float:left; font-size:10px; color:#FFF;  margin:20px;} 

.f3{float:right;margin:20px; width:auto; height:auto;padding:10px;}

.f2{float:right; height:auto; width:auto; margin-left:20px;}

